<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxkj.mybatis.mapper.TDealdataDictMapper">


    <select id="getTDD" resultType="com.hxkj.mybatis.entity.TDealdataDict">
        select * from t_dealdata_dict where tdd_area = #{tddArea} and tdd_data_type = #{tddDataType};
    </select>

    <select id="getSuiZhouTDD" resultType="com.hxkj.mybatis.entity.TDealdataDict">
        select * from t_dealdata_dict where tdd_area = 'suizhou' and tdd_data_type = 'hydrology_data';
    </select>

    <select id="getAllTDD" resultType="java.util.Map">
        select *
        from t_dealdata_dict
        where tdd_area = 'suizhou' and tdd_data_type = 'hydrology_data';
    </select>

</mapper>
